spring:
  profiles:
    default: local

  # excluded-paths.yml 파일 import
  config:
    import: "optional:classpath:excluded-paths.yml"

  # Gmail 설정
  mail:
    host: smtp.gmail.com
    port: 587
    username: gamegoo2025@gmail.com
    password: ${GMAIL_PWD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  # RIOT 설정
  front_url: ${FRONT_URL}
  riot:
    api:
      key: ${RIOT_API}
    redirect-uri: ${RSO_REDIRECT_URI}
    client-id: ${CLIENT_ID}
    client-secret: ${CLIENT_SECRET}

# 관리자 설정
admin:
  common:
    password: ${ADMIN_COMMON_PASSWORD}

# batch size 설정
batch_size:
  manner_rank: 30

springdoc:
  swagger-ui:
    tags-sorter: alpha            # alpha: 알파벳 순 태그 정렬, method: HTTP Method 순 정렬
    operations-sorter: alpha      # alpha: 알파벳 순 태그 정렬, method: HTTP Method 순 정렬
    enabled: true

socket:
  server:
    url: ${SOCKET_SERVER_URL}

email:
  report_email_to: gamegoo0707@gmail.com
  report_email_template_path: templates/new-report.html

logging:
  discord:
    scheduler_webhook: ${DISCORD_SCHEDULER_WEBHOOK}

# Actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

---
# 로컬 환경
spring:
  config:
    activate:
      on-profile: local

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true

  datasource:
    url: jdbc:mysql://${DB_URL}:${RDS_PORT}/${DB_SCHEMA_NAME}?useSSL=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

logging:
  discord:
    webhook: ${DISCORD_SCHEDULER_WEBHOOK}

jwt:
  secret: ${JWT_SECRET}
  access_expiration_time: 86400000 # 24*60분 (24 * 60 * 60 * 1000 밀리초)
  refresh_expiration_time: 432000000 # 5일 (5 * 86400000)

admin:
  common:
    password: ${ADMIN_COMMON_PASSWORD:local_admin_password}

cors:
  allowed-origins:
    - http://local.mydomain.com

---
# 개발 환경
server:
  port: 8080

spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  datasource:
    url: jdbc:mysql://${DEV_DB_HOST}:${RDS_PORT}/${DEV_DB_SCHEMA_NAME}?useSSL=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DEV_DB_PASSWORD}
    hikari:
      leak-detection-threshold: 3000  # ms 단위 (예: 3초)
      maximum-pool-size: 20       # 최대 커넥션 수
      minimum-idle: 20            # 최소 유휴 커넥션 수

logging:
  discord:
    webhook: ${DISCORD_MONITORING_WEBHOOK_URL_DEV}

decorator:
  datasource:
    p6spy:
      enable-logging: false

jwt:
  secret: ${JWT_SECRET}
  access_expiration_time: 60000 # 1분 (60 * 1000 밀리초)
  refresh_expiration_time: 432000000 # 5일 (5 * 86400000)

cors:
  allowed-origins:
    - https://dev.gamegoo.co.kr
    - https://devsocket.gamegoo.co.kr

---
# 운영 환경
server:
  port: 8080

spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  datasource:
    url: jdbc:mysql://${RDS_PRIVATE_IP}:${RDS_PORT}/${PROD_DB_SCHEMA_NAME}?useSSL=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

logging:
  discord:
    webhook: ${DISCORD_MONITORING_WEBHOOK_URL_PROD}

decorator:
  datasource:
    p6spy:
      enable-logging: false

jwt:
  secret: ${JWT_SECRET}
  access_expiration_time: 600000 # 10분 (10 * 60 * 1000 밀리초)
  refresh_expiration_time: 432000000 # 5일 (5 * 86400000)

cors:
  allowed-origins:
    - https://api.gamegoo.co.kr
    - https://socket.gamegoo.co.kr
    - https://www.gamegoo.co.kr
    - https://admin.gamegoo.co.kr
    - https://test.gamegoo.co.kr

---
# QA 환경
server:
  port: 8080

spring:
  config:
    activate:
      on-profile: qa
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  datasource:
    url: jdbc:mysql://${QA_DB_HOST}:${RDS_PORT}/${QA_DB_SCHEMA_NAME}?useSSL=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${QA_DB_PASSWORD}

logging:
  discord:
    webhook: ${DISCORD_MONITORING_WEBHOOK_URL_QA}

decorator:
  datasource:
    p6spy:
      enable-logging: false

jwt:
  secret: ${JWT_SECRET}
  access_expiration_time: 60000 # 1분 (60 * 1000 밀리초)
  refresh_expiration_time: 1800000 # 30분 (30 * 60 * 1000)

cors:
  allowed-origins:
    - https://qaapi.gamegoo.co.kr
    - https://qasocket.gamegoo.co.kr
    - https://test.gamegoo.co.kr
    - https://admin.gamegoo.co.kr
